lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/jslibs/**
typings/**
.vscode/**
public/js/boot.js
public/js/boot.js.map
public/js/components/hello-angular2.js
public/js/components/hello-angular2.js.map
public/js/services/timezones.js
public/js/services/timezones.js.map
